.country_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  border-radius: 5px;
  background: hsl(209, 23%, 22%);
  color: #fff;
  margin-bottom: 20px;
}

.country_img img {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
  cursor:grab;
}

.country_data {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.country_data h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 500;
}

.country_data h6 {
  margin-bottom: 10px;
  font-weight: 400;
  opacity: 0.8;
  font-size: 15px;
}

.country_bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 2rem;
}

.all_country_wrapper {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
