@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}
.container{
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}

.header{
  width:100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background:lightgray;
}

.header h5{
  display: flex;
  align-items: center;
}
body{
  background: white;
}

.country_bottom{
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.country_card{
  width: 250px;
  border-radius: 5px;
  background: hsl(209,23%,22%);
  color: #fff;
}

.country_img img{
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
  
}

.country_img img.country_data{

}

.all_country_wrapper{
  margin-top: 100px;

}

.country_data{
  padding: 20px;
}

.country_data h3{
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 500;
}

.country_data h6{
  margin-bottom: 10px;
  font-weight: 400;
  opacity: 80%;
  font-size: 15px;

}

.country_bottom h4{ /*Та улсынхаа нэрийг дахин хайна уу?*/
  color:black;
  text-align: center;
  margin-top: 15px;
}

input{
  padding: 15px 40px;
  color: #fff;
  border-radius: 10px;
  background:dimgray;
  border: none;
  outline: none;
  margin-bottom: 50px;
  margin-left: 870px;
}

::placeholder{
  color: #fff;
  font-size: 0.65rem;
}
.country_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.country_info_wrapper{
  margin-top: 120px;

}

.country_info_container{
  display: flex;
  column-gap: 3rem;

}

.country_info-img.country_info{
  width: 50%;
}
.country_info-img{
  margin-top: 100px;
}
button{
  padding: 5px 20px;
  color:#fff;
  background:lightgreen;
  border: none;
  outline: none;
  cursor: pointer;
  width: 120px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-left: 880px;
  
}
a{
  text-decoration: none;
  color:black;
}
.country_info h3{
  color:black;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.country_info-left h5{
  color: black;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 10px;
  font-style: italic;
}
.country_info-left h5 span{
  color: black;
  opacity: 85%;
  font-weight: 400;
}

.country_info img{
  border-radius: 4px;
  padding: 10px;
  width: 60px;
  height: 60px;
  opacity: 70%;
  margin-left: 550px;
  transform: translateY(150px);
}
.btn_prev{
  padding: 10px 20px;
  color:#fff;
  background:darkslategray;
  border: none;
  outline: none;
  cursor: pointer;
  width: 120px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-top: 90px;
}
.btn_next{
  padding: 10px 20px;
  color:#fff;
  background:darkslategray;
  border: none;
  outline: none;
  cursor: pointer;
  width: 120px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-left: 700px;
}
.page{
  color: firebrick;
  font-weight: bold;
  margin-left: 530px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  transform: translateY(120px);
}
.AddCountry{
  margin-top: 40px;
}
body{
  background:#eee;
  }
  .nav-link {
      color:#ffffff;
  }   
  .navbar-brand{
      color:#ffffff;
  }   
  .fixed-bottom{
      color:#ffffff;
  }   
  .btn btn-success mx-2{
    color: black;
  }
  .filter{
    left: 800px;
  }